.demo2{
    position: relative;
    height: 0%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 999;
    background-image: radial-gradient(#dff9fb 0%, #abe1e4 100%);
}

.canvas-description{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.demo2 h1 {
	font-size: 70px;
	color: #fff;
	text-shadow: 3px 3px 3px rgba(41,128,185,.8);
}

.demo2  p {
	margin-top: -18px;
	font-size: 26px;
	color: #000;
}